h1 {
  color: white;
  background-color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}


main form {
  border: 1px solid;
  text-align: center;
}

#filter-div {
  text-align: center;
  border: 1px dashed;
  padding: 10px 0px;
}

.filter-menu {
  display: inline;
}

ul {
  list-style-type: none;
}
